html, body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls > * {
  margin-left: 8px;
  margin-right: 8px;
}
